<h1>Editing Series</h1>

<%= render partial: 'form', locals: { data_logger: @data_logger, series: @series } %>

<%= link_to 'Show', data_logger_series_path(@series) %> |
<%= link_to 'Back', data_logger_series_index_path %>
