<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<%= link_to 'Edit', edit_data_logger_series_path(@data_logger, @series) %> |
<%= link_to 'Back', data_logger_series_index_path %>
