<h2><%= @user.name %></h3>

<ul class="user-detail">
  <li>email: <%= @user.email %></li>
  <% if @user == current_user %>
    <li><%= link_to "Edit user", edit_user_registration_path %></li>
  <% end %>
</ul>
